@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

.navText {
    font-family: 'Zen Tokyo Zoo', cursive;
}
.navbar{
    background-color: rgb(45, 33, 48) !important;
    position: fixed;
    width: 100%;
    z-index: 100;
}